# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Environment variables — NUNCA subir
.env
.env.*
!.env.example

# Coverage
coverage.xml
.coverage
htmlcov/

# pytest
.pytest_cache/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker volumes
postgres_data/

# SonarQube
.scannerwork/
